<section id="join-speakers" class="speakers">
  <div class="content-section-a">
        <div class="container">
            <div class="row text-center">
              <hr class="section-heading-spacer" style="border-top: 5px solid #4285f4; width: 300px;">
            </div>
            <div class="row text-center" style="margin-bottom: 15px;">
                <h2 style="text-align: left;">Únete a nuestra lista de ponentes</h2>
            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead"><strong>Buscamos mujeres que quieran compartir su conocimiento sobre tecnología. </strong></p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">Dar una charla o un taller es una gran oportunidad de intercambiar ideas y experiencias con más personas del sector. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">Este año hemos unificado los tiempos y las charlas serán de 30 minutos teniendo además 5 minutos para las preguntas del público.<br/>Además, si no has dado ninguna charla antes no dudes en contactar con nosotras y te ayudaremos a encontrar una mentora o mentor para que te ayude con la preparación del tema. </p>
                </div>

            </div>

            <div class="row">
                <div class="col-lg-10  col-lg-offset-2">
                    <p class="lead">¡Entra en nuestro Call For Papers para proponer tu charla!</p>
                    <p class="lead">¡Tienes hasta el 25 de junio! </p>
                    <!--<p class="lead">¡Ampliamos la fecha! ¡Tienes hasta el 2 de julio! </p>-->
                </div>


            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <a class="btn btn-dark btn-primary btn-lg" href="https://docs.google.com/forms/d/e/1FAIpQLSe119L5xl_yavMIqmlkAg7snZbzgeHwdvLCF6w5dDpVIcGRQQ/viewform" target="_blank">Envía tu propuesta</a>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
</section>
